<!DOCTYPE html>
<html>
<head>
	<title>Projeto Jogar dados </title>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
</head>
<body>
	<main>
		<div class="container col-12 col-sm-8 col-md-6 bg-warning p-2 text-center">
			<h1>Projeto jogar dados</h1>
			<div class="container">
			<div class="card-deck my-2">
				<div class="col-4 p-2">
					<div class="card">
						<div class="card-header bg-danger">Pontos Acumulados</div>
						<div class="card-body bg-success"><%= pontosAcumulados %></div>
					</div>
				</div>	

				<div class="col-4 p-2">
					<div class="card">
						<div class="card-header bg-danger">Lançamento</div>
						<div class="card-body bg-success">
							<% for (var i=0; i < lancamento.length; i++) { %>
								<img src="images/dado<%= lancamento [i]%>.png"
								class="p-2 col-3 col-sm-2">

							<% } %>
							</div>

					</div>
				</div>	
			
			<div class="col-4 p-2">
					<div class="card">
						<div class="card-header bg-danger">Numero de lançamentos</div>
						<div class="card-body bg-success"><%= nLancamentos %></div>
					</div>
				</div>	
				<div class="col-6 p-2">
					<div class="card">
						<div class="card-header bg-danger">Jogo Lançamento Atual</div>
						<div class="card-body bg-success"><%= jogoLancamento %></div>
					</div>
				</div>	
				<div class="col-6 p-2">
					<div class="card">
						<div class="card-header bg-danger">Pontuaçãio Lançamento</div>
						<div class="card-body bg-success"><%= pontosLancamento %></div>
					</div>
				</div>	

				<div class="col-6 p-2">
					<div class="card">
						<div class="card-header bg-danger">ContSemJogo</div>
						<div class="card-body bg-success"><%= contSemJogo %></div>
					</div>
				</div>	

				<div class="col-6 p-2">
					<div class="card">
						<div class="card-header bg-danger">Mensagem</div>
						<div class="card-body bg-success"><%= msg %></div>
						<script type="text/javascript">
							if ('<%= msg %>' !== '')
								alert ('<%= msg %>');
						</script>
					</div>
				</div>	

				</div>
		</div>
		

		
		<button class="btn btn-success"type="button" id="buttonLancarDados">Lançar Dados</button>

		<button class="btn btn-info"type="button" id="buttonReiniciarJogo">Reiniciar</button>

		<button class="btn btn-danger"type="button" id="buttonEncerrarJogo">Encerrar</button>

	</main>
</div>
</body>

	<script src="js/jquery-3.4.1.min.js"></script>

	<script type="text/javascript">
		$(document) . ready(function(){

			$('#buttonLancarDados').click(function(){
				location.href='lancarDados';
			});

			$('#buttonReiniciarJogo').click(function(){
				location.href='reiniciar';
			});
			$('#buttonEncerrarJogo').click(function(){
				location.href='encerrar';
			});
		});

	</script>

</html>